<% provide(:about_active, 'active') %>
<%= render 'layouts/navbar' %>
<div class="container pb-5 <%= controller_name %> <%= action_name %>">
    <h1>Hakkımızda</h1>
    <div class="card mt-4">
        <div class="card-header h5 fw-bold pt-3 pb-3">
            EĞİTİMLER
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pt-3 pb-3">WEB TASARIM</li>
            <li class="list-group-item pt-3 pb-3">SIFIRDAN İLERİYE PHP ve MySQLm</li>
            <li class="list-group-item pt-3 pb-3">SIFIRDAN İLERİ SEVİYE PYTHON PROGRAMLAMA</li>
        </ul>

        <div class="card-header h5 fw-bold pt-3 pb-3">
            YILDIZ TEKNİK ÜNİVERSİTESİ
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pt-3 pb-3">Web Tasarımı Eğitimi <span class="ps-2">(Eğitmen: Hasan Tokatlı)</span></li>
        </ul>

        <div class="card-header h5 fw-bold pt-3 pb-3">
            UDEMY
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pt-3 pb-3">Sıfırdan İleriye Php ve MySQL Eğitim Seti [PDO-MySQLi]<span class="ps-2">(Eğitmen: İbrahim Çevrük)</span></li>
        </ul>

        <div class="card-header h5 fw-bold pt-3 pb-3">
            UDEMY
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pt-3 pb-3"> PHP for Beginners 2021: all PHP code used is fully explained<span class="ps-2">(Eğitmen: Patrick Morrow)</span></li>
        </ul>
        <div class="card-header h5 fw-bold pt-3 pb-3">
            BTK AKADEMİ
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pt-3 pb-3"> Sıfırdan İleri Seviye Python Programlama<span class="ps-2">(Eğitmen: Sadık Turan)</span></li>
        </ul>
    </div>
    <div class="card mt-4">
        <div class="card-header h5 fw-bold pt-3 pb-3">
            EĞİTİM BİLGİLERİ
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-bold pt-3 pb-3">SÜLEYMAN DEMİREL ÜNİVERSİTESİ <span class="ps-2 fw-normal">Gıda Mühendisliği (Lisans)</span>
            <li class="list-group-item fw-bold pt-3 pb-3">YILDIZ TEKNİK ÜNİVERSİTESİ <span class="ps-2 fw-normal">Kimya Mühendisliği (Yüksek Lisans)</span></li></li>
            <li class="list-group-item fw-bold pt-3 pb-3">KAPLAN INTERNATIONAL COLLAGES, New York, Midtown,USA <span class="ps-2 fw-normal">Language Training (Advanced)</span></li></li>
        </ul>
    </div>
</div>