
<% provide(:contact_active, 'active') %>
<%= render 'layouts/navbar' %>
<div class="container <%= controller_name %> <%= action_name %>">
    <h1>İletişim</h1>
    <div class="card mb-3 mt-3">
        <div class="card-header h5 bg-secondary text-light pt-3 pb-3">
            Telefon
        </div>
        <div class="card-body">
            <p class="card-text fs-5">05379805907</p>
        </div>
    </div>

     <div class="card mb-3">
        <div class="card-header h5 bg-secondary text-light pt-3 pb-3r">
            Email
        </div>
        <div class="card-body">
            <p class="card-text fs-5">info@redpen.site</p>
            <p class="card-text fs-5">ksknnemine@ gmail.com</p>
        </div>
    </div>

     <div class="card mb-3">
        <div class="card-header h5 bg-secondary text-light pt-3 pb-3">
            Web Sitesi
        </div>
        <div class="card-body">
            <p class="card-text fs-5">https://redpen.site</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header h5 bg-secondary text-light pt-3 pb-3">
            Github
        </div>
        <div class="card-body">
            <p class="card-text fs-5">https://github.com/keskinemine/</p>
        </div>
    </div>
</div>