
.navbar {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar-brand{
    font-size: 28px;
}

.nav-item{
    font-size: 18px;
}